@import "fonts";
@import "index";

$color-soft-Orange:#FFD0AD;
$color-strong-Orange:#FF9649;
$color-Yellow:#FFCF23;
$color-background:#FFFF;

* {
            box-sizing: border-box;
            text-decoration: none;
            
}

nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    #cont-logo{
        display: flex;
        align-items: center;

        img{

                width: 1.5rem;
                height: 2.5rem;
                margin-left: .5rem;
                margin-top: -.5rem;
        }
        
        h1{
            margin-left: .2rem;
            font-size: 1.5rem;
            font-family: $font-Koulen;
            
        }
    }
   
        #ubicacion{
            margin-left: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 2rem;
                height: 1.5rem;
                margin-top: -.5rem;
            }
            h3{
                font-family: $font-Robotoo;
                font-size: .6rem;
            }
        }

        #nav-searchbar{
            display: flex;
            align-items: center;
            margin-left: 1rem;
            width: 60%;
        #categorias{
                background-color: $color-soft-Orange;
                width: 10rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                h3{
                    margin-right:.3rem ;
                    margin-top: .5rem;
                    font-family: $font-Robotoo;
                    font-size: .9rem;
                }
                img{
                    width: 1rem;
                    height: 1rem;
                }
            }
            #searchbar{
                margin-left: .5rem;
               width: 100%;
                height: 2.1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2px solid black;
                input{
                    border: 0;
                    outline: 0;
                    width: 90%;
                    
                }
                img{
                    width: 2rem;
                    height: 1.5rem;
                    margin-top: -.2rem;
                    margin-right: .2rem;
                }
            }
            
        }
        #btn-inicio-registrar{
            
            margin-right: 1rem;
            display: flex;
            align-items: center;
            button{
                margin-left: 1rem;
                width: 8rem;
                height: 2.2rem;
                border:none;
                border-radius: .7rem;
            
                
            }  
            #btn-inicia-sesion{
                background-color: $color-strong-Orange;
                &:hover{
                    box-shadow: 0px 0px 20px rgba(34, 35, 58, 0.5);
                }
            } 
            #btn-registrate{
                background-color: $color-Yellow;
                &:hover{
                    box-shadow: 0px 0px 20px rgba(34, 35, 58, 0.5);
                }
            }
            
        }
    
}

a{
    text-decoration: none;
    color: #000000;
}
main{

    #banner-2{
        .static-slider10 {
            font-family: $font-Oswald;
            font-weight: 300;
              padding: 10% 0;
            background-size: cover;
            background-position: center center;
          }
          .static-slider10 .title {
            font-weight: 700;
            font-size: 48px;
            line-height: 50px;
          }
          
          .static-slider10 .subtitle {
              line-height: 24px;
          }
          
          @media (max-width: 900px) {
            .static-slider10 .title {
              font-size: 40px;
              line-height: 45px;
            }
          }
          
          .static-slider10 .btn-md {
              padding: 15px 45px;
              font-size: 16px;
          }
          
          .static-slider10 .badge {
              line-height: 21px;
          }
          
          .static-slider10 .badge-inverse {
              background: #3e4555;
          }
          
          .static-slider10 .op-8 {
              opacity: 0.8;
          }
    }

   

    #mapa-section{
       margin-top: 1rem;
       display: flex;
       flex-direction: column;
        #search-map{
            background-color:$color-strong-Orange;
            padding: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            #ubicacion-mapa{
                margin-left: .2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid black;
                border-radius: .5rem;
                background-color: white;
                width: 8rem;
                img{
                    width: 2rem;
                    height: 1.5rem;
                }
                h3{
                    font-family: $font-Robotoo;
                    margin-top: .5rem;
                    font-size: .6rem;
                }
            }
            #searchbar-mapa{
                margin-left: .5rem;
                width: 70%;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2px solid black;
                border-radius: .5rem;
                background-color: white;
                input{
                    border: 0;
                    outline: 0;
                    width: 90%;
                    margin-left: 1rem;
                    
                }
                img{
                    width: 2rem;
                    height: 1.5rem;
                    margin-right: .2rem;
                }
            }
            #mapa{
                height: 50rem;
            }
        }
    }

    #cards-section-2{
        margin-top: 2rem;
        h3{
            font-family: $font-Oswald;
        }
       
        
        .single_advisor_profile {
            position: relative;
            margin-bottom: 50px;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            z-index: 1;
            border-radius: 15px;
            -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
            box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
            img{
                height: 25rem;
                width: 20rem;
            }
        }
        .single_advisor_profile .advisor_thumb {
            position: relative;
            z-index: 1;
            border-radius: 15px 15px 0 0;
            margin: 0 auto;
            padding: 30px 30px 0 30px;
            background-color: $color-Yellow;
            overflow: hidden;
        }
        .single_advisor_profile .advisor_thumb::after {
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            position: absolute;
            width: 150%;
            height: 80px;
            bottom: -45px;
            left: -25%;
            content: "";
            background-color: #ffffff;
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
        @media only screen and (max-width: 575px) {
            .single_advisor_profile .advisor_thumb::after {
                height: 160px;
                bottom: -90px;
            }
        }
        .single_advisor_profile .advisor_thumb .social-info {
            position: absolute;
            z-index: 1;
            width: 100%;
            bottom: 0;
            right: 30px;
            text-align: right;
        }
        .single_advisor_profile .advisor_thumb .social-info a {
            font-size: 14px;
            color: #020710;
            padding: 0 5px;
        }
        .single_advisor_profile .advisor_thumb .social-info a:hover,
        .single_advisor_profile .advisor_thumb .social-info a:focus {
            color: $color-strong-Orange;
        }
        .single_advisor_profile .advisor_thumb .social-info a:last-child {
            padding-right: 0;
        }
        .single_advisor_profile .single_advisor_details_info {
            position: relative;
            z-index: 1;
            padding: 30px;
            text-align: right;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            border-radius: 0 0 15px 15px;
            background-color: #ffffff;
        }
        .single_advisor_profile .single_advisor_details_info::after {
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            position: absolute;
            z-index: 1;
            width: 50px;
            height: 3px;
            background-color: $color-strong-Orange;
            content: "";
            top: 12px;
            right: 30px;
        }
        .single_advisor_profile .single_advisor_details_info h6 {
            margin-bottom: 0.25rem;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            .single_advisor_profile .single_advisor_details_info h6 {
                font-size: 14px;
            }
        }
        .single_advisor_profile .single_advisor_details_info p {
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            margin-bottom: 0;
            font-size: 14px;
        }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            .single_advisor_profile .single_advisor_details_info p {
                font-size: 12px;
            }
        }
        .single_advisor_profile:hover .advisor_thumb::after,
        .single_advisor_profile:focus .advisor_thumb::after {
            background-color: $color-strong-Orange;
        }
        .single_advisor_profile:hover .advisor_thumb .social-info a,
        .single_advisor_profile:focus .advisor_thumb .social-info a {
            color: #ffffff;
        }
        .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
        .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
        .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
        .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
            color: #ffffff;
        }
        .single_advisor_profile:hover .single_advisor_details_info,
        .single_advisor_profile:focus .single_advisor_details_info {
            background-color: $color-strong-Orange;
        }
        .single_advisor_profile:hover .single_advisor_details_info::after,
        .single_advisor_profile:focus .single_advisor_details_info::after {
            background-color: #ffffff;
        }
        .single_advisor_profile:hover .single_advisor_details_info h6,
        .single_advisor_profile:focus .single_advisor_details_info h6 {
            color: #ffffff;
        }
        .single_advisor_profile:hover .single_advisor_details_info p,
        .single_advisor_profile:focus .single_advisor_details_info p {
            color: #ffffff;
        }
    }

    #cards-section{
        display: flex;
        flex-direction: column;
        align-items: center;

        #h2-index{
            font-family: $font-Oswald;
            font-size: 2rem;
            
        }

        #h2-show-profile{
            font-family: $font-Oswald;
            font-size: 2rem;
            
        }
    }

    #cards-trabajadores{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }
            
            .card {
                margin: 1rem;
                background: #fff;
                border-radius: 4px;
                box-shadow: 0px 0px 20px rgba(34, 35, 58, 0.5);
                max-width: 400px;
                display: flex;
                flex-direction: row;
                border-radius: 25px;
                position: relative;
            }
            .card:hover{
                border-radius: 4px;
                box-shadow: 0px 14px 80px rgba(250, 159, 56, 0.5);
                max-width: 400px;
                border-radius: 25px;
            }
              .card h2 {
                font-family: $font-Oswald;
                margin: 0;
                padding: 0 1rem;
              }
              .card .title {
                font-family: $font-Robotoo;
                color: $color-strong-Orange;
                padding: 1rem;
                text-align: right;
                font-weight: bold;
                font-size: 1rem;
              }
              .card .desc {
                padding: 0.5rem 1rem;
                font-size: 12px;
              }
              .card .actions {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                padding: 0.5rem 1rem;
              }
              .card svg {
                width: 85px;
                height: 85px;
                margin: 0 auto;
              }
              
              .img-avatar {
                width: 80px;
                height: 80px;
                position: absolute;
                border-radius: 50%;
                border: 6px solid white;
                background-image: url(img/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg) ;
                background-size: cover;
                top: 15px;
                left: 85px;
              }
              
              .card-text {
                font-family: $font-Robotoo;
                display: grid;
                grid-template-columns: 1fr 2fr;
              }
              
              .title-total {
                padding: 2.5em 1.5em 1.5em 1.5em;
              }
              
              path {
                fill: white;
              }
              
              .img-portada {
                width: 100%;
              }
              
              .portada {
                width: 100%;
                height: 100%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-image: url(img/erik-mclean-RfkaDKptt-A-unsplash.jpg);
                background-position: bottom center;
                background-size: cover;
              }
               
            
              
        
}

        footer{
            
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            height: 7rem;
            margin-top: 2rem;
            
            h1{
                margin-left: 1rem;
                font-size: 1.5rem;
                font-family: $font-Koulen;
            }
            h2{
                margin-right: 1rem;
                font-size:1rem;
                font-family: $font-Robotoo;  
            }
        }

       
        

    #inicia-sesion{
        
            background: #f6f5f7;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            height: 100vh;
            margin: -20px 0 50px;
        
        
        h1 {
            font-weight: bold;
            margin: 0;
        }
        
        h2 {
            text-align: center;
        }
        
        p {
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: 0.5px;
            margin: 20px 0 30px;
        }
        
        span {
            font-size: 12px;
        }
        
        a {
            color: #333;
            font-size: 14px;
            text-decoration: none;
            margin: 15px 0;
        }
        
        button {
            border-radius: 20px;
            border: 1px solid $color-Yellow;
            background-color: $color-strong-Orange;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        }
        
        button:active {
            transform: scale(0.95);
        }
        
        button:focus {
            outline: none;
        }
        
        button.ghost {
            background-color: $color-Yellow;
            border-color: $color-Yellow;
        }
        
        form {
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
        }
        
        input {
            background-color: #eee;
            border: none;
            padding: 12px 15px;
            margin: 8px 0;
            width: 100%;
        }
        
        .container {
            background-color: #fff;
            border-radius: 10px;
              box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                    0 10px 10px rgba(0,0,0,0.22);
            position: relative;
            overflow: hidden;
            width: 80rem;
            max-width: 100%;
            min-height: 40rem;
        }
        
        .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;
        }
        
        .sign-in-container {
            left: 0;
            width: 50%;
            z-index: 2;
        }
        
        .container.right-panel-active .sign-in-container {
            transform: translateX(100%);
        }
        
        .sign-up-container {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
        }
        
        .container.right-panel-active .sign-up-container {
            transform: translateX(100%);
            opacity: 1;
            z-index: 5;
            animation: show 0.6s;
        }
        
        @keyframes show {
            0%, 49.99% {
                opacity: 0;
                z-index: 1;
            }
            
            50%, 100% {
                opacity: 1;
                z-index: 5;
            }
        }
        
        .overlay-container {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
        }
        
        .container.right-panel-active .overlay-container{
            transform: translateX(-100%);
           
        }
        
        .overlay {
           
            background-image: url("https://www.usnews.com/object/image/00000153-51f4-dbd7-addb-d3f6c6590000/160307-cleaningservices-stock.jpg?update-time=1457368951802&size=responsive640");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            color: #000000;
            font-size: 2.6rem;///////////////////////////////////////7
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
              transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }
        
        .container.right-panel-active .overlay {
              transform: translateX(50%);
        }
        
        .overlay-panel {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 40px;
            text-align: center;
            top: 0;
            height: 100%;
            width: 50%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }
        
        .overlay-left {
            transform: translateX(-20%);
        }
        
        .container.right-panel-active .overlay-left {
            transform: translateX(0);
        }
        
        .overlay-right {
            right: 0;
            transform: translateX(0);
        }
        
        .container.right-panel-active .overlay-right {
            transform: translateX(20%);
        }
        
        .social-container {
            margin: 20px 0;
            img{
                width: 2rem;
            }
        }
        
        .social-container a {
            border: 1px solid #DDDDDD;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            height: 40px;
            width: 40px;
        }
    }
          
    